<div class="wrapper clearfix">
  <%= render 'layouts/flash_messages' %>
  <div class="auth_content">
    <h2>Resend unlock instructions</h2>

    <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>

    <div class="auth_row">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="auth_row">
      <%= f.submit "Resend unlock instructions", {:class =>'blue_button'} %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
