<div class="gray_background">
  <div class="wrapper clearfix">
    <%= render 'layouts/flash_messages' %>

    <div class="main_content">
      <h2>Sign in</h2>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.submit "Sign in", {:class =>'blue_button'} %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>