<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content <%= "payment_options" if Settings.use_payment_options %>">
      <h3>Check out</h3>
      <p id="checkoutHint">
        All of your payment information will be secured and stored with <a href="https://stripe.com/">Stripe</a>.
        <br />
        <br />
        <% if Settings.use_payment_options %>
        Select a payment option and enter your email address below.
        <% else %>
        Enter your email address below.
        <% end %>
      </p>

      <%= form_tag "/preorder/prefill", :id => "checkout" do %>
      <!-- The email and password section -->
      <div class="email_and_next">
        <%= email_field_tag "email", nil, :placeholder => "#{if current_user then current_user.email end || 'Email address'}", 
        :required => "required", :id => "email", :disabled => current_user %>
        <%= password_field_tag "password", nil, :placeholder => "Password", :disabled => current_user, :hidden => current_user %>
        <%= password_field_tag "passwordConfirm", nil, :placeholder => "Confirm Password", :disabled => current_user, :hidden => current_user %>
        <input value="Next" class="blue_button disabled" id="email_next_button">
      </div>

      <!-- The shipping info section -->
      <div class="shipping_and_checkout hidden">
        <div class="name control_group">
          <p>Name *</p>
          <div class="controls">
            <%= text_field_tag "name", nil, :id => "name", :placeholder => "Name", :required => "required" %>
          </div>
        </div>
        <div class="company control_group">
          <p>Company</p>
          <div class="controls">
            <%= text_field_tag "company", nil, :id => "company", :placeholder => "Company" %>
          </div>
        </div>
        <div class="address1 control_group">
          <p>Address 1 *</p>
          <div class="controls">
            <%= text_field_tag "address1", nil, :id => "address1", :placeholder => "Address 1", :required => "required" %>
          </div>
        </div>
        <div class="address2 control_group">
          <p>Address 2</p>
          <div class="controls">
            <%= text_field_tag "address2", nil, :id => "address2", :placeholder => "Address 2" %>
          </div>
        </div>
        <div class="city control_group">
          <p>City *</p>
          <div class="controls">
            <%= text_field_tag "city", nil, :id => "city", :placeholder => "City", :required => "required" %>
          </div>
        </div>
        <div class="state control_group">
          <p>State *</p>
          <div class="controls">
            <select id="state" name="state" class="statesOption">
              <option value="">Select a State</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>    
              <option value="CA">California</option>    
              <option value="CO">Colorado</option>    
              <option value="CT">Connecticut</option>    
              <option value="DE">Delaware</option>    
              <option value="DC">District Of Columbia</option>    
              <option value="FL">Florida</option>    
              <option value="GA">Georgia</option>    
              <option value="HI">Hawaii</option>    
              <option value="ID">Idaho</option>    
              <option value="IL">Illinois</option>    
              <option value="IN">Indiana</option>    
              <option value="IA">Iowa</option>    
              <option value="KS">Kansas</option>    
              <option value="KY">Kentucky</option>    
              <option value="LA">Louisiana</option>    
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>    
              <option value="NV">Nevada</option>    
              <option value="NH">New Hampshire</option>    
              <option value="NJ">New Jersey</option>    
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>    
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>    
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>    
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>    
              <option value="WV">West Virginia</option>    
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>          
        </div>
        <div class="zip control_group">
          <p>Zip Code *</p>
          <div class="controls">
            <%= text_field_tag "zip", nil, :id => "zip", :placeholder => "Zip Code", :required => "required" %>  
          </div>
        </div>
        <div class="phone control_group">
          <p>Phone</p>
          <div class="controls">
            <%= text_field_tag "phone", nil, :id => "phone", :placeholder => "Phone" %>
          </div>
        </div>
        <span class="payment-errors"></span>
        <%= hidden_field_tag "preorder", true %>
        <%= hidden_field_tag "quantity", params[:quantity] %>
        <div class="control_buttons">
          <div class="back">
            <input value="Back" class="blue_button" id="shipping_back_button">
          </div>
          <div class="next">
            <%= submit_tag "Checkout", :class => "blue_button", :id => "amazon_button" %>
          </div>
        </div>
        <!-- MeSsY StUfF -->
        <script src="https://checkout.stripe.com/v2/checkout.js" type="text/javascript"></script>
        <script>
        validateShippingForm = function() {
          if (!$('#name').val() || !$('#address1').val() || !$('#city').val() || $('#state').val() == "" || !$('#zip').val()) {
            return false;
          }
        }

        $('#amazon_button').click(function(){
          if (validateShippingForm() != false) {
            console.log("Stripe");
            var token = function(res){
              var $input = $('<input type=hidden name=stripeToken />').val(res.id);
              $('form').append($input).submit();
            };
  
            StripeCheckout.open({
              key:         '<%= Rails.configuration.stripe[:publishable_key]%>',
              amount:      <%= Settings.price * 100 %>,
              currency:    'usd',
              name:        'CraftCrate',
              description: 'A monthly subscription',
              panelLabel:  'Checkout',
              token:       token
            });
  
            return false;
          }
        });
        </script>
      </div>
      <% end %>
    </div>

    <%= render 'preorder/checkout/sidebar' %>
  </div>
</div>
